{% extends 'base_generic.html' %}
{% load bootstrap3 %}

{% block sidebar %}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Login</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/loginStyle.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/feed.js' %}"></script>
</head>
<body>
  <div class="topbar">
    <a href="{% url 'login' %}"><h1 class="toptitle">Frontdoor</h1></a>
  </div>
  <br/><br/>
  <div class="loginblock">
    <div class="header">
      <h2>Login</h2>
    </div>

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div id="login">
        {% bootstrap_form form %}
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <br>
      {# Assumes you setup the password_reset view in your URLconf #}
      <p id="links"><a href="{% url 'password_reset' %}">Lost password?</a> &bull; <a href="{% url 'signup' %}">Not a Member?</a></p>
    </form>
  </div>
{% endblock %}
</body>
</html>
