/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
  /* Set 100% height and 40px nav padding */
.sidenav {
  height: 100%;
  padding: 40px;
}
 
.card .text-center {
  width: 100%;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  
  .row.content {height: auto;} 
}

hr.actionDiv { 
  border: 0; 
  height: 1px; 
  width: 50%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

h1{font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;}

h3{{font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif;}}

body {font-family: -apple-system, BlinkMacSystemFont, sans-serif;}

.tab-content {
 
}

/* Base card styling */
.card {
  width: 50%;
  padding: 15px;
  margin: 0px auto;
  border: 2px solid grey;
  border-radius: 10px 10px 10px 10px;
  background-color: : linear-gradient(#111111 75%, #D3D3D3 20%);
}

/* In-card element styling */

.timeStamp {
  text-align: left;
  vertical-align: bottom;
  font-family: -apple-system-short-footnote, BlinkMacSystemFont, sans-serif;
}

/*.commentSec {
  background-color: #D3D3D3;
  border-radius: 0px 0px 10px 10px;
}*/