#setForm {
  width: 40%;
  height: 100%;
  margin: 0 auto 0px;
  background-color: #EFEFF4;
  border: 0.5px solid grey;
  border-radius: 0px 0px 3px 3px;
  border-top: none;
  padding: 15px;
  z-index: 999;
}