{% extends 'base_generic.html' %}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html>
{% load static %}
<head>
	{% block title %}<title></title>{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/chatStyle.css' %}">
</head>
<body>
	<div class="rightside">
		<h4 class="righttitle">Tenants</h4>
	</div>
	<div class="chatboxoutter">
		<h2 class="chattitle">Chat</h2>
		<div class="chatboxinner">
            {% if chats %}
            {% for chat in chats %}
            <p><b>{{ chat.poster.username }}</b> {{ chat.message }}</p>
            {% endfor %}
            {% endif %}
		</div>
		<div class="submit">
            <form action="/chat/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Send" name="btn"/>
            </form>
		</div>
	</div>
</body>
{% endblock %}
</html>
