{% extends 'base_generic.html' %}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Feed</title>{% endblock %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/feedStyle.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row content">

      <!--Navigation-->
      <div class="col-sm-2 sidenav">
        <h4>User Dashboard</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div><br>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="">Home</a></li>
          <li><a href="/rent-calculator">Rent Calculator</a></li>
          <li><a href="/leasing-bulletin">Leasing Bulletin</a></li>
          <li><a href="/housing-bulletin">House Bulletin</a></li>
          <li><a href="/tasks">House Tasks</a></li>
          <li><a href="/rent-services">Rent Services</a></li>
        </ul>
      </div>

      <!--Feed Start-->
      <div class="col-sm-9">

        <!--Payment Card-->
        <div class="card payment">
          <div id="iconDiv" class="glyphicon glyphicon-piggy-bank"></div>
          <h1 id="paymentTitle"></h1>
          <h4 id="amount">Amount: $</h4>
          <br>
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
        </div>
        <hr>

        <!--Announcement Card-->
        <div class="card announcement">
          <div id="iconDiv" class="glyphicon glyphicon-bullhorn"></div>
          <h1 id="announceTitle"></h1>
          <p id="announcement"></p>
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
          <button id="comments" type="button" class="btn btn-link" data-toggle="collapse" data-target="#announcementComm">Comments</button>
          <div id="announcementComm" class="collapse">
          </div>
        </div>
        <hr>

        <!--Task Card-->
        <div class="card task">
          <div id="iconDiv" class="glyphicon glyphicon-tasks"></div>
          <h1 id="taskTitle"></h1>
          <h4 id="taskAssign">Assigned Task: </h4>
          <h5 id="assignee"></h5>
          <h5 id="completeDate"></h5>
          <!--completed?-->
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
          <button id="comments" type="button" class="btn btn-link" data-toggle="collapse" data-target="#taskComm">Comments</button>
          <div id="taskComm" class="collapse">
          </div>
        </div>
        <hr>

        <!--Setup Card-->
        <div class="card setup">
          <div id="iconDiv" class="glyphicon glyphicon-wrench"></div>
          <h1 id="setupTitle"></h1>
          <p id="tipLink"></p>
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
        </div>
        <hr>

        <!--Leasing Card-->
        <div class="card leasing">
          <div id="iconDiv" class="glyphicon glyphicon-pushpin"></div>
          <h1 id="leaseTitle"></h1>
          <p id="leaseMessage"></p>
          <h5 id="leaserName"></h5>
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
          <button id="comments" type="button" class="btn btn-link" data-toggle="collapse" data-target="#leaseComm">Comments</button>
          <div id="leaseComm" class="collapse">
          </div>
        </div>
        <hr>

        <!--Event Card-->
        <div class="card event">
          <div id="iconDiv" class="glyphicon glyphicon-calendar"></div>
          <h1 id="eventTitle"></h1>
          <p id="eventMessage"></p>
          <p id="eventDate"></p>
          <p id="eventTime"></p>
          <p id="eventFrom"></p>
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
          <button id="comments" type="button" class="btn btn-link" data-toggle="collapse" data-target="#eventComm">Comments</button>
          <div id="eventComm" class="collapse">
          </div>
        </div>
        <hr>

        <!--Vote Card-->
        <div class="card vote">
          <div id="iconDiv" class="glyphicon glyphicon-stats"></div>
          <h1 id="voteTitle"></h1>
            <span>
              <input class="btn btn-success" type="button" value="Yes" />
              <input type="hidden" name="yes" value="{{ yes }}" />
              <input class="btn btn-danger" type="button" value="No" />
              <input type="hidden" name="no" value="{{ no }}" />
            </span>
          <p id="yesList"></p>
          <p id="noList"></p>
          <h5 class="timeStamp"><span class="glyphicon glyphicon-time"></span> Post by </h5>
          <br><br>
          <button id="comments" type="button" class="btn btn-link" data-toggle="collapse" data-target="#voteComm">Comments</button>
          <div id="voteComm" class="collapse">
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
  {% endblock %}

</body>
</html>