{% extends 'base_generic.html' %}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Feed</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/feedStyle.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/feed.js' %}"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row content">
      <!--Action Card-->
      <div class="col-sm-8 cardFeed">
        <div class="card text-center">
          <div id="tabs" class="card-header">
            <ul class="nav nav-tabs nav-justified card-header-tabs" id="actionCard">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="annTab" href="#announcement" role="tab">Announcement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="payTab" href="#payment" role="tab">Payment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="taskTab" href="#task" role="tab">Task</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="eventTab" href="#event" role="tab">Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="voteTab" href="#vote" role="tab">Vote</a>
              </li>
            </ul>
            <hr/>
          </div>

          <div class="card-block tab-content">
            <div class="tab-pane fade in active" id="default" role="tabpanel">
              <h1 class="actionTitle">Create a New Post</h1>
            </div>
            <div class="tab-pane fade" id="announcement" role="tabpanel">
              <form action="/feed/" method="post">
                  {% csrf_token %}
                  <table>
                    {{ ann_form }}
                  </table>
                    <br>
                  <input class="btn btn-primary" type="submit" value="Post" name="ann_btn"/>
              </form>
            </div>
            <div class="tab-pane fade" id="payment" role="tabpanel">
              <form action="/feed/" method="post" class="center">
                  {% csrf_token %}
                  <table>
                    {{ prq_form }}
                  </table>
                  <br>
                  <input class="btn btn-primary" type="submit" value="Post" name="prq_btn"/>
              </form>
            </div>
            <div class="tab-pane fade" id="task" role="tabpanel">
              <form action="/feed/" method="post">
                  {% csrf_token %}
                  <table class="center">
                    {{ tsk_form }}
                  </table>
                  <br>
                  <input class="btn btn-primary" type="submit" value="Post" name="tsk_btn"/>
              </form>
            </div>
            <div class="tab-pane fade" id="event" role="tabpanel">
              <form action="/feed/" method="post">
                  {% csrf_token %}
                  <table class="center">
                    {{ evt_form }}
                  </table>
                  <br>
                  <input class="btn btn-primary" type="submit" value="Post" name="evt_btn"/>
              </form>
            </div>
            <div class="tab-pane fade" id="vote" role="tabpanel">
              <form action="/feed/" method="post">
                  {% csrf_token %}
                  <table class="center">
                    {{ vte_form }}
                  </table>
                  <br>
                  <input class="btn btn-primary" type="submit" value="Post" name="vte_btn"/>
              </form>
            </div>
          </div>

          </div>
          <hr class="actionDiv">

          <!--Feed Start-->

          {% if cards %}
          {% for card in cards %}
          {% include "card.html" with card=card %}
          {% endfor %}
          {% endif %}
      </div>
      <div class="col-sm-3 utilityFeed">
        <div class="utilitycard">
          <!--<h1 class="utilityplaceholder">Nothing Here</h1>-->
          <div class="column">
            <h4>Current House: </h4>
            <h4>Address: </h4>
            <h4><br></h4>
            <h4>Lease Starts: </h4>
            <h4>Lease Ends: </h4>
          </div>
          <div class="column">
            <h4>{{ current_house.house.house_name }}</h4>
            <h4>{{ current_house.house.house_address.street }}<br>{{ current_house.house.house_address.city }}, {{ current_house.house.house_address.state }} {{ current_house.house.house_address.code }}</h4>
            <h4>{{ current_house.start_date }}</h4>
            <h4>{{ current_house.end_date }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

</body>
</html>
