{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/house-settings.css' %}">
	<div class="header">
		<h2>House Settings</h2>
	</div>
    <div id="setForm">
    {% if houses %}
    {% for house in houses %}
	    <div class="house">
	        <a href="/house-settings/{{ house.id }}/"><h1>{{ house.house.house_name }}</h1></a>
	        <h5>{{ house.start_date }} – {{ house.end_date }}</h5>
	    </div>
	    {% endfor %}
	    {% endif %}
	    <a href="{% url 'add-house'%}">Add House</a>
	</div>
{% endblock %}