{% extends 'base_generic.html' %}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  {% block title %}<title>Rent Calculator</title>{% endblock %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/rent.css' %}">
  <script type="text/javascript" src="{% static 'js/rent.js' %}"></script>
</head>
<body>
  <div class="rooms">
    <h2>Rooms</h2>
      {% if rooms %}
      {% for room in rooms %}
      <p><b>{{ room.name }}</b> {{ room.rent }} x{{ room.num_users }}</p>
      <p>sqft: {{ room.squarefeet }}</p>
      <p>{% if room.hasbathroom %}Bathroom{% endif %}</p>
      <p>{% if room.hasawkwardlayout %}Awkward Layout{% endif %}</p>
      <p>{% if room.hascloset %}Closet{% endif %}</p>
      <hr class="actionDiv">
      {% endfor %}
      {% endif %}
  </div>
	<div class="wrap">
		<div class="header">
			<h2>Split the Rent!</h2>
    </div>

		<div class="formcont">
            <form action="/rent/" method="post">
                {% csrf_token %}
                {{ add_form }}
                <input type="submit" value="Add" name="add_btn"/>
            </form>
            <form action="/rent/" method="post">
                {% csrf_token %}
                {{ cal_form }}
                <br><br>
                <input type="submit" value="Calculate" name="cal_btn"/>
                <!-- <button type="submit">Calculate</button> -->
            </form>
		</div>
	</div>
</body>
{% endblock %}
</html>
