{% extends 'base_generic.html' %}
{% load bootstrap3 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Settings</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/house-settings.css' %}">
  <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
</head>
<body>
	<div class="wrap">
		<div class="heading">

		</div>
		<div id="formcont">
		    
		</div>
	</div>
</body>
{% endblock %}
</html>