{% extends 'base_generic.html' %}
{% load bootstrap3 %}
{% block sidebar %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signUpStyle.css' %}">
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<title>Sign Up</title>
</head>
<body>
	<div class="topbar">
		<div class="home">
			<a href="{% url 'login' %}"><h1 class="toptitle">Frontdoor</h1></a>
		</div>
	</div>
	<br/>
	<div class="signupblock">
		<div class="header">
			<h2>Register</h2>
		</div>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary" type="submit">Sign Up</button>
		</form>
	</div>
</body>
{% endblock %}
</html>